# SweetViz EDA 
1. Sweetviz is another great tool for automated EDA (Exploratory Data Analysis) in Python. It generates a visual, interactive HTML report comparing datasets or analyzing a single one.

In [3]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (2.2.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (1.26.4)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (3.9.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (4.66.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (1.13.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\vikram\anaconda3\lib\site-packages (from sweetviz) (3.1.4)
Collecting importlib-resources>=1.2.0 (from sweetviz)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\vikram\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vikram\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vikram\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vikram\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3)
Requirement already satisfied: colorama in c:\users\vikram\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\vikram\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
   ---------------------------------------- 0.0/15.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.1 MB ? eta -:--:--
    --------------------------------------- 0.3/15.1 MB ? eta -:--:--
    --------------------------------------- 0.3/15.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.1 MB 985.5 kB/s eta 0:00:15
   -- ------------------------------------- 0.8/15.1 MB 1.0 MB/s eta 0:00:15
   -- ------------------------------------- 1.0/15.1 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.3/15.1 MB 1.1 MB/s eta 0:00:13
   ---- ----------------------------------- 1.6/15.1 MB 1.2 MB/s eta 0:00:12
   ----- ---------------------------------- 2.1/15.1 MB 1.3 MB/s eta 0:00:10
   ------ --------------------------------- 2.6/15.1 MB 1.5 MB/s eta 0:00:09
   -------- ------------------------------- 3.1/15.1 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/15.1 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/15.1 MB 1.9 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.1 MB 2.0 MB/s eta 0:00:05
   ---------------- ----------------------- 6.3/15.1 MB 2.2 MB/s eta 0:00:04
   ------------------- -------------------- 7.3/15.1 MB 2.5 MB/s eta 0:00:04
   ---------------------- ----------------- 8.7/15.1 MB 2.7 MB/s eta 0:00:03
   ------------------------- -------------- 9.7/15.1 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 11.3/15.1 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 13.1/15.1 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  14.9/15.1 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 15.1/15.1 MB 3.6 MB/s eta 0:00:00
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-6.5.2 sweetviz-2.3.1

In [7]:
import sweetviz as sv
import pandas as pd

In [15]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [17]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [19]:
# Analyze the dataset
report = sv.analyze(df)

                                             |                                             | [  0%]   00:00 ->â€¦

In [21]:
# Save and show report
report.show_html("titanic_sweetviz_report.html")

Report titanic_sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.