# Replace Fuction

In [4]:
import pandas as pd

data = pd.read_csv("C:\\Users\\VIKRAM\\Desktop\\Jupiter_NoteBook\\organizations.csv")
data

,Index,Organization Id,Name,Country,Founded,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,1,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,1,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,1,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),1,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,1,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079

In [10]:
data.replace(to_replace = 1, value = 22)

,Index,Organization Id,Name,Country,Founded,Number of employees
0,22,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,22,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,22,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,22,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),22,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,22,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079

In [30]:
data.replace({2:40,1:'bK'}) # using Dictionary

,Index,Organization Id,Name,Country,Founded,Number of employees
0,bK,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,40,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,bK,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,bK,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,bK,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),bK,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,bK,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079

In [26]:
#data.replace("[A-Za-z]","bicky",regex = True)
data.replace(1,"bicky",regex = True)

,Index,Organization Id,Name,Country,Founded,Number of employees
0,bicky,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,bicky,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,bicky,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,bicky,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),bicky,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,bicky,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079

In [36]:
data.replace(1,method = 'ffill')

C:\Users\VIKRAM\AppData\Local\Temp\ipykernel_22676\18749633.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  data.replace(1,method = 'ffill')

,Index,Organization Id,Name,Country,Founded,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,2018,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,2018,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,2018,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),2018,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,2018,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079

In [38]:
data.replace(1,method = 'bfill',limit=3)

C:\Users\VIKRAM\AppData\Local\Temp\ipykernel_22676\3319073871.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  data.replace(1,method = 'bfill',limit=3)

,Index,Organization Id,Name,Country,Founded,Number of employees
0,2,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,1990,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,2015,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,1971,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,2004,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,1991,7870
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,1992,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,2018,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,1,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,1,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,2020,9698
10,11,AE61b8Ffebbc476,Kidd Group,Bouvet Island (Bouvetoya),2020,7473
11,12,eb3B7D06cCdD609,Crane-Clarke,Denmark,2020,9011
12,13,8D0c29189C9798B,"Keller, Campos and Black",Liberia,2020,2862
13,14,D2c91cc03CA394c,Glover-Pope,United Arab Emirates,2013,9079